
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Mono:wght@100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
body{margin: 0px;}
.container{
    display: flex;
}
h1{
    font-size: 60px;
    margin-top: 0px;
    margin-bottom: 0px;
    text-wrap: balance;
    font-family: "Rubik Mono One", monospace;
    color: rgb(255, 255, 255);
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-style: normal;
    text-transform: uppercase;
    letter-spacing: 2px;
    word-spacing: -6px;
}
p{
    text-wrap: balance;
}
a{
    text-decoration: none;
}
:root{
    --accent: #ff6600;
    --font-white: #ffffff;
    --dark:#1e1e1e;
    --grey: #7b7b7b;
}
.navbar{
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: var(--dark);
    text-decoration: none;
    z-index: 1;

    align-items: baseline;
    position: sticky;
	top: 0;
    padding: 1px 30px 8px ;
}
.navbar ul{
    list-style: none;
    gap: 40px;
    li{
        font-family: "Noto Sans Mono", monospace;
        a{
            color: var(--font-white);
        }

    }
}
#search-button{
    background: none;
    padding: 6px 40px;
    border-radius: 7px;
    border-radius: 0px 7px 7px 0px;
    margin-left: -0px;
    border-left: none;
    border: solid 2px var(--font-white);
    cursor: pointer;
    color: var(--font-white);
    font-family: "Noto Sans Mono", monospace;
    font-size: 17px;

}
.search-bar{
    padding: 10px;
    
    border-radius: 7px 0px 0px 7px;
    border-right: none;
    border: solid 2px var(--font-white);
    width: 30vw;
    resize: horizontal; 
    overflow: auto; 
}
.item-grid-nav-1{
    padding-right: 30px;
}
.item-grid-nav-2{
    justify-content: flex-end;
}
.button-style{
    background: none;
    padding: 15px 50px;
    border-radius: 10px;
    font-family: "Noto Sans Mono", monospace;
    font-size: 17px;
    border: solid 2px var(--font-white);
    color: var(--font-white);
    box-shadow: 10px 11px 0px var(--accent);
    cursor: pointer


}
header{
    background-color: rgb(166, 210, 251);
    padding-top: 20px;
    padding-bottom: 60px;
    background-image: url(/img/bg-hero.webp);
    background-attachment: fixed;
    background-size: cover;
    p{
        font-family: "Noto Sans Mono", monospace;
        color: var(--font-white);
        line-height: 150%;
    }
    h3{
        font-family: "Noto Sans Mono", monospace;
        color: var(--font-white);
        line-height: 110%;
        font-size: 37px;
        word-spacing: -10px;
        letter-spacing: 2px;
        margin-top: 2px;
    }
}
.hero-cta{
    position: relative;
    width: 480px;    
    margin-left: 80px;
    z-index: 1;
    hr{
        padding-top: 15px;
        margin-top: -20px;
        width: 440px;
        margin-left: 0px;
        background-color: var(--accent);
        border: none;
    }
}
.effect{
    border-radius: 20px;
    backdrop-filter: blur(10px);
    background-color: #ffffff13;
    box-shadow: 5px 10px 35px #00000068 ,
                inset 0 0 100px rgba(255, 34, 0, 0.333);

}
.fx-form{
    position: absolute;
    margin-top: -340px;
    margin-left: 40px;
    width: 560px;
    height: 380px;
    z-index: 0;
}
.content-grid{
    background-color: var(--grey);
}
.grid-container{

    padding: 30px;
    background: var(--grey);

    margin-left: auto;
    margin-right: auto;
    display: grid;
    /*outline: solid #333;*/
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 120px 120px 280px 180px;
    gap: 10px;

    .card{

        border-radius: 17px;
        background-color: var(--dark);
        color: aliceblue;
        text-align: center;
        font-size: 30px;
        
    }
    div:hover{
        cursor: pointer;
    }
}
.item-1{
    grid-column: 1/ 3 ;
    grid-row: 1/3;
}
.item-2{
    grid-column: 3/4 ;
    grid-row: 1/5;
}
.item-3{
    grid-column: 1/3 ;
    grid-row:  3/4;
    display: flex; /* Flex-Container */
    align-items: flex-end; /* Inhalt am unteren Rand ausrichten */
    
    img{

        margin-top: -190px;

        margin-left: auto;
        margin-right: auto;
        max-width: 100%; 
        max-height: 160%; 
        width: auto;
        bottom: 0;
    }

}
.item-4{
    grid-column: 1/2;
    grid-row: 4/5 ;
}
.item-5{
    grid-column: 2/3;
    grid-row: 4/5 ;
}
.item-6{
    grid-column: 1/4 ;
    grid-row: 5/6 ;
    height: 150px;
}
